#corpo {
    background-color: #F7E018;
    width: 700px;
    height: 500px;
    margin: auto;
}

#secao {
    position: absolute;
    font-size: 90px;
    font-family: Arial;
}

h1 {
    position: relative;
    top: 210px;
    left: 500px;
}